.container{
    color: white;
    display: grid;
}

.title{
    text-align: center;
}

.form{
    display:grid;
    grid-template-columns: 400px auto;
    align-items: center;
    gap: 30px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.image_uploading{
    display: flex;
    flex-direction: column;
}

.image{
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;
    width: 400px;
    cursor: pointer;
}

.movie_info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;

    max-width: 95%;
}

label{
    font-size: 18px;
}

.input{
    font-size: 15px;
    padding: 5px;
    max-width: 300px;

    border: none;
    color: white;
    background-color: transparent;
    border-bottom: 2px solid black;
}

.input::placeholder{
    color: rgb(161, 161, 161);
}

.selects{
    
}

.button{
    margin-top: 40px;

    justify-self: center;
    width: 100px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.form::-webkit-scrollbar {
    width: 5px;
}

.form::-webkit-scrollbar-track {
    background: transparent;
}

.form::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 10px;
}

.form::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
