.container {
    /* border: 1px solid black; */
    height: 500px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 600px auto;
    overflow: hidden;
    /* transition: height 0.5s ease-in-out; */
}

.image {
    position: relative;
    cursor: pointer;
    width: 600px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    background-image: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 78.397%, rgb(0, 0, 0) 100%), url("../../public/master.jpg");
}

.title{
    position: absolute;
    bottom: 40px;
    left: 30px;
    font-size: 30px;
    max-width: 600px;
}

.genres{
    font-size: 20px;
    margin-bottom: 10px;
}

.info {
    padding: 20px;
    overflow: auto;
}

.header {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.description {
    overflow-y: auto;
    line-height: 25px;
}


.info::-webkit-scrollbar {
    width: 5px;
}

.info::-webkit-scrollbar-track {
    background: transparent;
}

.info::-webkit-scrollbar-thumb {
    background: #3299d0;
    border-radius: 10px;

}

.info::-webkit-scrollbar-thumb:hover {
    background: #1f6184;
}